In [8]:
#example 
from phase_extender.hapstats import compute_haplotype_stats, compute_stats_df, plot_all_data, plot_hist_one_chr, plot_bar_hapstats
import pandas as pd

In [2]:
final_hap_df = pd.read_csv('tests/outdir/eg3out/final_haplotype_stats_ms02g.txt', sep='\t')
final_hap_df

,CHROM,ms02g:PI,num_Vars_by_PI,range_of_PI,total_haplotypes,total_Vars
0,1,1,66,2903,1,66
1,2,"9,8,10","94,78,104","89910,1102167,1622052",3,276
2,3,"5,3","6,43","908,117261",2,49
3,4,17,77,4027,1,77
4,5,13,284,9642559,1,284
5,7,"24,29,31","43,106,25","4342,6798,331",3,174
6,8,"33,32","53,35","1603,2991338",2,88

In [7]:
plot_all_data(final_hap_df, soi='ms02g', prefix='initial', )

In [12]:
xcol="CHROM"
ycol="total_Vars"
plot_bar_hapstats(final_hap_df, xcol, ycol, filepath='chrome_by_total_vars')

In [ ]:
xcol="CHROM"
ycol="total_haplotypes"
plot_bar_hapstats(final_hap_df, xcol, ycol, filepath='chrome_by_total_haplotypes')